<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<div class="panel panel-default">
    <% @locations.each do |location| %>
      <div class="panel-body">
        <h2><%= link_to location.lot, location %></h2>
        <%= link_to 'Edit', edit_location_path(location), class: "btn btn-primary" %> |
        <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

<br>

<%= link_to 'New Location', new_location_path, class: "btn btn-primary" %>
