<p id="notice"><%= notice %></p>

<h1><strong>Lot: </strong><%= @location.lot %></h1>

<% @location.vehicles.each do |car| %>
<p><%= car.make %> <%= car.label %></p>
<% end %>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
